<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ass</string>
	<string>fuck</string>
	<string>cock</string>
	<string>tampon</string>
	<string>shit</string>
	<string>penis</string>
	<string>juice</string>
	<string>ball</string>
	<string>jizz</string>
	<string>cum</string>
	<string>fanny</string>
	<string>dick</string>
	<string>bitch</string>
	<string>douche</string>
	<string>fart</string>
	<string>nut</string>
	<string>'gina</string>
	<string>piss</string>
	<string>whore</string>
	<string>slut</string>
	<string>mother</string>
	<string>sissy</string>
	<string>wench</string>
	<string>crap</string>
	<string>nipple</string>
	<string>anus</string>
	<string>retard</string>
	<string>jerk</string>
	<string>trash</string>
	<string>tit</string>
	<string>snot</string>
	<string>scum</string>
	<string>diaper</string>
	<string>granny</string>
	<string>pecker</string>
	<string>cooch</string>
	<string>twat</string>
	<string>mouth</string>
	<string>rectum</string>
	<string>wiener</string>
	<string>cunt</string>
	<string>fetus</string>
	<string>clit</string>
	<string>ho</string>
	<string>schlong</string>
	<string>sack</string>
	<string>meat</string>
	<string>pussy</string>
	<string>testicle</string>
	<string>dildo</string>
	<string>prick</string>
	<string>scrotum</string>
	<string>muff</string>
	<string>panty</string>
	<string>pube</string>
	<string>sperm</string>
	<string>poop</string>
	<string>butt</string>
	<string>pork</string>
	<string>feces</string>
	<string>beef</string>
	<string>queef</string>
	<string>clown</string>
</array>
</plist>
