<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>chunk</string>
	<string>bagger</string>
	<string>flaps</string>
	<string>licker</string>
	<string>munch</string>
	<string>rammer</string>
	<string>sucker</string>
	<string>waffle</string>
	<string>eater</string>
	<string>face</string>
	<string>biter</string>
	<string>bucket</string>
	<string>monkey</string>
	<string>dumpster</string>
	<string>jacket</string>
	<string>junkie</string>
	<string>chomper</string>
	<string>lips</string>
	<string>fucker</string>
	<string>blower</string>
	<string>donkey</string>
	<string>monster</string>
	<string>wad</string>
	<string>jockey</string>
	<string>dangler</string>
	<string>skank</string>
	<string>pooper</string>
	<string>farm</string>
	<string>lover</string>
	<string>shitter</string>
	<string>hole</string>
	<string>pincher</string>
	<string>beater</string>
	<string>sniffer</string>
	<string>wipe</string>
	<string>twister</string>
	<string>slammer</string>
	<string>folds</string>
	<string>clot</string>
	<string>glob</string>
	<string>jammer</string>
	<string>fondler</string>
	<string>tickler</string>
	<string>fungus</string>
	<string>plug</string>
	<string>packer</string>
	<string>wrangler</string>
	<string>slime</string>
	<string>diddler</string>
	<string>sandwich</string>
	<string>gobbler</string>
	<string>wanker</string>
	<string>muncher</string>
	<string>stain</string>
	<string>boner</string>
	<string>nugget</string>
	<string>booger</string>
	<string>rag</string>
	<string>basket</string>
	<string>burger</string>
	<string>biscuit</string>
	<string>bandit</string>
	<string>gargler</string>
</array>
</plist>
